<p id="notice"><%= notice %></p>

<h1><%= @aggregator.name %></h1>

<p>
  <strong>Invite key:</strong>
  <%= link_to invite_url(@aggregator.invite_key), invite_url(@aggregator.invite_key) %>
</p>

<h2>Profiles</h2>

<ul>
  <% @profiles.each do |profile| %>
  <li><%= profile.first_name %> <%= profile.last_name %>
    <ul>
      <li><%= profile.profile.to_json %></li>
    </ul>
  </li>

  <% end %>
</ul>